body {
  background-image: url(catdogbackground.png);
  text-align: center;
}

.board {
  position: static;
}

.show-reset{
  display: none;
}

.container {
  text-align: center;
  width: 600px;
  height: 600px;
}

.space {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-color: #fff;
  display: inline-block;
}

.space-text {
  font-size: 40px;
  color: #fff;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

.board {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color:
}

.reset {
  display: none;
}

.catimg1 {
  background-image: url(../img/catgif1.gif);
  background-position: center;
}

.catimg2 {
  background-image: url(../img/catgif2.gif);
  background-position: center;
}

.catimg3 {
  background-image: url(../img/catgif3.gif);
  background-position: center;
}

.catimg4 {
  background-image: url(../img/catgif4.gif);
  background-position: center;
}

.catimg5 {
  background-image: url(../img/catgif5.gif);
  background-position: center;
}

.dogimg1 {
  background-image: url(../img/doggif1.gif);
  background-position: center;
}

.dogimg2 {
  background-image: url(../img/doggif2.gif);
  background-position: center;
}

.dogimg3 {
  background-image: url(../img/doggif3.gif);
  background-position: center;
}

.dogimg4 {
  background-image: url(../img/doggif4.gif);
  background-position: center;
}

.dogimg5 {
  background-image: url(../img/doggif5.gif);
  background-position: center;
}
